* {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

#game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#game-logo {

    height: auto;
}

header p {
    font-size: 2em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 4em;
    background-color: #6d6342;
}

body h2 {
    font-size: 1em;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

#esquerda-container {
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.move-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.move-option {
    background-color: #b6916f; 
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.move-option:hover {
    background-color: #daab65;
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.move-option:active {
    transform: translateY(0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    background-color: #6d6038; 
}

#current-player {
    width: 70%;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background-color: #6e5629;
}

#current-player-img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 10px;
    margin-top: 1em;
    transition: border 0.3s ease;
}


#question-container {
    width: 70%;
    margin: 2em;
    display: none;
    background-color: #6e5629;
    color: #d3b88c;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#board {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: repeat(10, 4em);
    gap: 4px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border: 0.4em solid #d3b88c;
    border-radius: 8px;
    background-color: #d3b88c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.cell {
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e5629;
    position: relative;
    transition: background-color 0.3s ease;
}

.cell .piece {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.piece {
    width: 4em;
    height: 4em;
    object-fit: cover;
}

#alternativas {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#alternativas button {
    display: flex;
    margin: 5px auto;
    padding: 1em;
    width: 73%;
    background-color: #8b7853;
    border: none;
    border-radius: 5px;
    color: #d3b88c;
    font-weight: bold;
    cursor: pointer;
}

#alternativas button:hover {
    background-color: #696664;
    transform: scale(1.05);
}

.correct {
    background-color: #548656 !important;
}

.incorrect {
    background-color: #b63127 !important;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#player-position {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

